.card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 1vw;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    justify-content: space-between;
    align-items: center;
    margin: 2vw;
}

.card-container:hover {
    transform: scale(1.05);
}

.kitten-img {
    border-radius: 5px;
    border: 1px solid gray;
    width: 300px;
    margin: 1vw;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}